
@{
    ViewData["Title"] = "Index";
}

    <div class="text-center">

        @if (ViewBag.result == true)
        {
            <h1>Correct</h1>
        }
        else
        {
            <h1>Wrong</h1>
        }

        <h3><a href="/facts"> next</a></h3>
    </div>

