
@{
    ViewData["Title"] = "Index";
}

    <div class="text-xl-center">

        @if (ViewBag.result == true)
        {
            <br />
            <br />
            <h1 class="display-1">CORRECT</h1>
        }
        else
        {
            <br />
            <br />
            <h1 class="display-1">WRONG</h1>
        }

        <br />
        <a href="/facts" class="btn btn-outline-primary btn-lg" role="button"> NEXT >></a>
    </div>


