@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">TITLE</h1>
        <h4><a href="/questions/">Start</a></h4>
        <h4><a href="/leaderboard/">Leaderboard</a></h4>

    </div>
