@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <div style="display:block;">
            <img src="~/images/CarnivalLogo.png" class="img-fluid" alt="Responsive image" />
        </div>
        
        <h4><a href="/questions/">Start</a></h4>
        <h4><a href="/leaderboard/">Leaderboard</a></h4>

    </div>
