@model bc_awareness.Models.QuestionViewModel
@{
    ViewData["Title"] = "Index";
}

<!-- <p>@ViewData["Content"]</p>-->

<div class="  text-center">
    <h2> @Model.Question.Question</h2>
    <a href="/questions/index/@Model.nextIndex"> next</a>
</div>
