@model bc_awareness.Models.QuestionViewModel
@{
    ViewData["Title"] = "Index";
}

<!-- <p>@ViewData["Content"]</p>-->

    <div class="  text-center">
        <h2> @Model.Question.Question</h2>
        @if (Model.Question.Source == "True or False")
        {
            <p><a href="/validate?userAnswer=TRUE"> <button> True </button> </a></p>
            <p><a href="/validate?userAnswer=FALSE"> <button> False </button> </a></p>

        }
        else
        {
            @foreach (var item in Model.ShuffledAnswerOptions)
            {
                <p><a href="/validate?userAnswer=@item"> <button> @item </button> </a></p>
            }
        }

    </div>
