@model bc_awareness.Models.QuestionViewModel
@{
    ViewData["Title"] = "Index";
}

<!-- <p>@ViewData["Content"]</p>-->

    <div class="  text-center">
        <h2> @Model.Question.Question</h2>
        @foreach (var item in Model.AnswerOptions)
        {
            <p>@item</p>
        }
        <a href="/questions/index"> next</a>
    </div>
