@model bc_awareness.Models.QuestionViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="  text-xl-center align-middle">
    <h1 class="display-1"> @Model.Question.Question</h1>
    @if (Model.Question.Source == "True or False")
    {
        <br />
        <a class="btn btn-outline-primary btn-lg btn-block" href="/validate?userAnswer=TRUE" role="button">  True  </a> <br />
        <a class="btn btn-outline-primary btn-lg btn-block" href="/validate?userAnswer=FALSE" role="button">  False  </a>

    }
    else
    {
        <br />
        @foreach (var item in Model.ShuffledAnswerOptions)
        {
            <a class="btn btn-outline-primary btn-lg btn-block" href="/validate?userAnswer=@item" role="button"> @item </a><br />
        }
    }


</div>

