<!-- Hi, Please don't hack my site.
    sincerely,
    Kenny
    -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SGA - Breast Cancer Awareness</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body style="background-color:#FAD1E3">
    <header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <br />
            <div class="container text-center">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/CarnivalLogo.png" width="400" alt="">
                </a>
            </div>
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
