@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Sorry mate, you seem to have taken a wrong turn. How about we <a href="/home">restart</a></h2>
