@model IEnumerable<bc_awareness.Models.Leaderboard>
@{
    ViewData["Title"] = "Index";
}

    <div class="text-xl-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        #
                    </th>
                    <th scope="col">
                        User
                    </th>
                    <th scope="col">
                        Score
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@Html.DisplayFor(modelItem => item.id)</th>
                        <td>
                            @Html.DisplayFor(modelItem => item.user)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.score)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    


