
@{
    ViewData["Title"] = "Index";
}

    <div class="text-center">
        <h1>Did you Know ...</h1>
        <h3>@ViewBag.fact</h3>
        <h4><a href="/questions/">next</a></h4>
    </div>

